html{
	height:100%
}
body{
	color:#717171;
	background:#e9e9e9;
	font: 1em  Arial;
	height:100%;
}

a img{
	border:none;
}

a:hover{
	color:#7da1bc;
}


a{
	color:#717171;
	text-decoration:none;
}


#top_menu{
	width:100%;
	height:28px;
	background:#fff;
	border-bottom:2px solid #d9d9d9;
}

	#menu_in{
		margin:0 auto;
		width:960px;
		height:25px;
		padding:3px;
	}

	#top_menu ul{
		list-style:none;
		margin:0;
		padding-left: 0!important;
		float:left;
	}
	
	#social{
		float:right;
		width:121px;
		margin: 4px 0 0 0;
	}
	
	#top_menu li {
		display:inline;
		margin:  0 5px
	}
	
	#top_menu ul :first-child{
		margin-left:0;
	}
	
	#top_menu li  a{
		font-size:12px;
		color:#717171;
		text-decoration:none;
	}
	
	#top_menu li  a{
		font-size:12px;
		color:#717171;
	}
	

#wrapper{
	width:960px;
	/*height:91%;*/
	min-height:91%;
	padding: 0 0 28px 0;
	margin: 0 auto -28px;
	overflow:hidden;
}

	#header{
	
	}
	
		#logo{
			width:191px;
			height:35px;
			margin: 37px 0 37px 0;
		}
		
		#menu{
			width:960px;
			height:27px;
			background:#fff;
			margin: 0 0 15px 0;
			border-bottom:2px solid #d9d9d9;
			padding: 8px 0 0 0;
			font-size:16px;
		}
		
			#menu ul{
				margin: 0 0 0 10px;
				padding:0 0 0 10px;
			}
			
			#menu li{
				list-style:none;
				display:inline;
				margin: 0 10px 0 10px;
				text-transform: uppercase;
			}
			
			#menu li a{
				text-decoration:none;
				color:#717171;
			}
#middle{
	margin: 0 auto 10px;
	padding:10px;
	width:940px;
	height:268px;
	background:#fff;
	border-bottom:2px solid #d9d9d9;
}

	#left{
		float:left;
		width:650px;
		height:268px;
		position:relative;
		margin: 0 6px 0 0;
	}
		.text{
			width:100%;
			height:50px;
			position:absolute;
			left:0;
			bottom:0;
			background:url(../img/trasparent_bg.png);
		}
		
			.text p, h4{
				margin:5px 0 0 5px;
				color:#2c2b2b;
			}
		
			.text p{
				font-size:10px;
			}
	#right{
		float:right;
		width:260px;
		height:248px;
		padding: 0 10px;
	}
	
		.small_posts{
			width:260px;
			height:50px;
			border-bottom: 1px dashed #c2c2c2;
			padding: 10px 0;
			font-size:16px;
		}
		
		.small_posts:first-child{
			padding-top:0;
			
		}
		
		.small_posts:last-child{
			border-bottom:none;
		}
		
		.small_posts img {
			float:left;
			margin: 0 10px 0 0;
		}
		
		.small_posts a{
			
		}
		
#content{
	margin:auto;
	width:960px;
	min-height:500px;
	overflow:hidden;
}
	
	.c_b_m{
		background:#fff;		
		border-right:2px solid #d9d9d9;
		margin: 0 0 15px 0;	
		border-bottom:2px solid #d9d9d9;
		overflow:hidden;
	}
	
	
	
	#left_side  .lside,#right_side .rside{
		width:200px;
		padding:10px;
	}
	
	#left_side  h4,#right_side h4{
		
		display:block;
		text-transform:uppercase;
		margin:0 0 10px 0;
		border-bottom: 1px dashed #c2c2c2;
		
	}
	
	#left_side  img,#right_side img{
		float:left;
		margin:0 10px 0 0;
	}
	
	#left_side  a,#right_side a{
		font-size:10px;
	}
	#left_side div,#right_side div{
		margin-bottom:10px;
	}
	
	
	#left_side  span,#right_side span{
		font-size:8px;
		display:block;
	}
	
	#left_side  .recent_comments span:first-child{
		display:block;
		float:left;
		font:14px bold;
		margin: 1px ;
	}
	#left_side  .recent_comments span{
		font-size:12px;
	}
	
	
	#left_side{
		width:220px;
		min-height:300px;
		float:left;
	}
	
	
	
	#right_side{
		float:right;
		width:220px;
		min-height: 300px;		
	}
	
	#posts{
		margin:0 240px 0;
		min-height:300px;
	}

.clear{
	width:100%;
	clear:both;
}

#footer{
	width:100%;
	height:22px;
	background:#fff;
	padding:6px 0 0 0;
}
	#copy{
		width:960px;
		font: 10px Arial ;
		vertical-align: middle;
		margin: auto;
	}

.test_class{
	
}